page-photo {
	
	.content-ios, .content-md  {

   background-color: rgba(255,255,255,0) !important;
   max-height: 150% !important;
 }

 .container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// h2{
  //     margin-top: -11px !important;
  // }

}
