<!--
  Generated template for the PhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
  	<div id="line">
  		<ion-title>GeoHunt</ion-title>
  	</div>
  	<div id="line2">
  		<ion-buttons end color="primary-text">
	      	<div id="left"><img src="assets/imgs/sablier.png" style="height: 100%; width: 100%;"></div>
	      	<div id="right">{{cpt.display_time}}</div>
	    </ion-buttons>
  	</div>  
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="container" *ngIf="jeu.titre[translate.currentLang]">
	    <!-- <img src="../assets/imgs/button-info.png"  style="width:75%;" > -->
		<!-- <div class="centered" ion-textstyle="width:80%;"> -->
	       <h3 class="text-info geohunt-font" ion-text color="primary-text"> {{ jeu.titre[translate.currentLang] | uppercase }}</h3>
	    <!-- </div> -->
	</div>

	<h3 class="titre" color="primary-text" ion-text text-center style="margin: 0;">
			{{ jeu.description[translate.currentLang]  }}
	</h3>

	<ion-thumbnail >
          	<img *ngIf="jeu.image_url && !photo" src="{{ jeu.image_url }}" style="max-height:200px;; margin: auto;" />
    
      		<img *ngIf="photo" [src]="photo" alt="photo" style="max-height:200px;; margin: auto;"/>
    </ion-thumbnail>

    <div class="container" *ngIf="photo" (click)=storeImage()>
	    <img src="../assets/imgs/button.png"  style="width:75%;" >
		<div class="centered" ion-textstyle="width:80%;">
	       <h2 class="text-info geohunt-font no-margin" ion-text color="primary-text"><ion-icon name="checkmark"></ion-icon> {{"TERMINER" | translate }}</h2>
	    </div>
	</div>
    
    <div class="container" (click)=takePicture()>
	    <img src="../assets/imgs/button.png"  style="width:75%;" >
		<div class="centered" ion-textstyle="width:80%;">
	       <h2 class="text-info geohunt-font no-margin" ion-text color="primary-text"><ion-icon name="camera"></ion-icon> {{"AJOUTER" | translate}}</h2>
	    </div>
	</div>

	<ion-grid ion-text color="secondary-text">
	  <ion-row>
	  
	    <ion-col ion-text text-left class="geohunt-fab" *ngIf="!jeu.requis">
	    <!-- <button ion-fab color="primary" (click)="nextGame()" ><ion-icon name="arrow-dropright"></ion-icon></button> -->
	    <button ion-fab color="primary" (click)="skipGame()" >
	    	<div class="center container" >
		    	<img src="../assets/imgs/reveal.png"  style="width:100%;" >	
	 			<div class="top geohunt-font" ion-text color="primary" style="width:100%;">
				 	{{"PASSER" | translate }}
				</div>
		    </div>
	    </button>
		</ion-col>
		<ion-col ion-text text-right class="geohunt-fab">
		    		<button ion-fab color="primary" (click)="indiceJeu()">
			    	<div class="center container">
				    	<img src="../assets/imgs/hint.png"  style="width:100%;" >	
			 			<div class="top geohunt-font" ion-text color="primary" style="width:100%;">
						{{jeu.indices.length}} {{"INDICE" | translate }}(S)
						</div>
				    </div>
		    </button>
	    </ion-col>
		    
	   

	  </ion-row>


	</ion-grid>

</ion-content>
