<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle=" {{ 'HOME' | translate }}" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="CONTACT" tabIcon="mail"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="FAQ" tabIcon="help-circle"></ion-tab>
  <ion-tab tabTitle=" {{ translate.currentLang | uppercase }}" class='lang-title' tabIcon="globe">
  	
  </ion-tab>
 
</ion-tabs>

<ion-fab class="lang" right bottom #fab>
    <button ion-fab color="light"> <span class="flag-icon flag-icon-{{ translate.currentLang == 'fr' ? 'fr' : 'gb'}} flag-icon-squared"></span> 
    	<!-- <span ion-text>{{ translate.currentLang | uppercase}}</span>  -->
    </button>
    <ion-fab-list side="top">
      <button *ngFor="let l of lang" ion-fab (click)="changeLang(l.title, fab)"><span class="flag-icon flag-icon-{{ l.flag }} flag-icon-squared"></span> </button>
      <!-- <button ion-fab (click)="changeLang('en', fab)"><span class="flag-icon flag-icon-gb flag-icon-squared"></span> </button> -->
     
    </ion-fab-list>
</ion-fab>

<style type="text/css">
	.lang .fab-md{
		background: none transparent !important;
		position: relative !important;
		top: 3px !important;
		right: 9px !important;
	}

	.lang .fab-ios{
		background: none transparent !important;
		position: relative !important;
		top: 10px !important;
		right: 9px !important;
	}

	#tab-t0-3 .tab-button-icon{
		color: transparent !important;
	}

	.fab-md{
		box-shadow: none !important;
	}
</style>
