<!--
  Generated template for the ScanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<style type="text/css">
	body{
		background: none transparent !important;
	}
</style>
<ion-header>

  <ion-navbar>
  	<div id="line">
  		<ion-title>GeoHunt</ion-title>
  	</div>
  	<div id="line2">
  		<ion-buttons end color="primary-text">
	      	<div id="left"><img src="assets/imgs/sablier.png" style="height: 100%; width: 100%;"></div>
	      	<div id="right">{{cpt.display_time }}</div>
	    </ion-buttons>
  	</div>  
  </ion-navbar>

</ion-header>


<ion-content padding style="background: none transparent;" style="width: 80% !important;margin: auto;">
	<div class="container">
		 <div class="centered question" ion-text color="primary" style="width:100%;">
			 <h2>SCAN QR CODE</h2>
			 <div class="ocrloader">
			  <em></em>
			  <div>
			 
			  </div>
			  <span></span>
			</div>
		</div>
	</div>

</ion-content>
