<!--
  Generated template for the PuzzlesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <div id="line">
      <ion-title>GeoHunt</ion-title>
    </div>
    <div id="line2">
      <ion-buttons end color="primary-text">
          <div id="left"><img src="assets/imgs/sablier.png" style="height: 100%; width: 100%;"></div>
          <div id="right">{{cpt.display_time}}</div>
      </ion-buttons>
    </div>  
  </ion-navbar>
</ion-header>


<ion-content text-center paddin-top class="puzzles-content">
    <div class="container" *ngIf="jeu.titre[translate.currentLang]">
      <!-- <img src="../assets/imgs/button-info.png"  style="width:75%;" > -->
      <!-- <div class="centered" ion-textstyle="width:80%;"> -->
           <h3 class="text-info geohunt-font" ion-text color="primary-text"> {{ jeu.titre[translate.currentLang] | uppercase  }}</h3>
        <!-- </div> -->
    </div>

    <h3 class="titre" color="primary-text" ion-text text-center style="margin: 0;">
        {{ jeu.description[translate.currentLang]  }}
    </h3>

    <div class="rapport-jeu">
      {{rapport}}
    </div>
    <div *ngIf="show">
        <div class="board" *ngIf="!canNext">
          <label ion-button class="pieces" *ngFor="let piece of pieces"  (swipeup)="deplace(piece)" (swiperight)="deplace(piece)" (swipeleft)="deplace(piece)" (swipedown)="deplace(piece)" (click)="deplace(piece)" [ngStyle]="piece.style"></label>
        </div>
        <div class="board" *ngIf="canNext">
          <img  [src]="jeu.image_url">
        </div>
    </div>
        

    <div class="container" (click)="nextGame()" *ngIf="canNext" >
      <img src="../assets/imgs/button-info.png"  style="width:50%;" >
      <div class="centered" ion-textstyle="width:80%;">
           <h2 class="text-info geohunt-font" ion-text color="primary-text"> {{ "Suivant" | translate | uppercase }}</h2>
        </div>
    </div>
    <!-- <button id="melanger" ion-button (click)="melanger()" round>Melanger le puzzles pour commencer le Jeu</button> -->

    <ion-grid ion-text color="secondary-text">
      <ion-row>
      
        <ion-col ion-text text-left class="geohunt-fab" *ngIf="!jeu.requis">
        <!-- <button ion-fab color="primary" (click)="nextGame()" ><ion-icon name="arrow-dropright"></ion-icon></button> -->
        <button ion-fab color="primary" (click)="skipGame()" >
          <div class="center container" >
            <img src="../assets/imgs/reveal.png"  style="width:100%;" > 
          <div class="top geohunt-font" ion-text color="primary" style="width:100%;">
            {{"PASSER" | translate }}
          </div>
          </div>
        </button>
      </ion-col>

          
       

      </ion-row>


    </ion-grid>
</ion-content>

 <!--  <ion-fab left bottom style="bottom: 70px;">
    <button ion-fab color="primary" (click)="nextGame()" class="geohunt-font">SKIP</button>
    <button ion-fab color="primary" [disabled]="!canNext" (click)="nextGame()" class="geohunt-font">{{"Suivant" | translate}}</button>
  </ion-fab> -->
