page-puzzles {
	
	.rapport-jeu{
		color:rgb(100, 58, 25);
		font-size: 11px;

	}
	#melanger{
		font-size: 10px;
		color : white;
		background-color: #362525;
	}
	.pieces{
		// width: 20vw;
		// height: 20vw;
		border:solid 0.009px white;
		width: 65px;
		height: 65px;
		/* background-color: black; */
		/*  background-image: url('../../assets/imgs/puzzle.jpg'); */
	}
	.board-3{
	   width: 292px;
	   height: 292px;
	   margin: auto;
	   label{
	   	margin:0;
	   	width:77px;
	   	height:77px;
	   }
	 }
	.board {
		width: 292px;
		height: 292px;
		margin: auto;

		label{
			margin:0;
			padding:0;
			padding:0;
			border-radius: 0;
			
		}
	}
	.espacement{
		height: 30px;
		width: auto;
	}
	.titre{
		
		color: rgb(100, 58, 25);
		margin-left: 10vw;
		margin-right: 10vw;
		line-height: 24px;
	}
	.puzzles-content{
		background:transparent !important;
	}
      
  }

  ion-content{
  	height: 90% !important;
  }