<!--
  Generated template for the QuizzPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
  	<div id="line">
  		<ion-title>GeoHunt</ion-title>
  	</div>
  	<div id="line2">
  		<ion-buttons end color="primary-text">
	      	<div id="left"><img src="assets/imgs/sablier.png" style="height: 100%; width: 100%;"></div>
	      	<div id="right">{{cpt.display_time }}</div>
	    </ion-buttons>
  	</div>  
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="container" *ngIf="jeu.titre[translate.currentLang]">
	    <!-- <img src="../assets/imgs/button-info.png"  style="width:75%;" > -->
		<!-- <div class="centered" ion-textstyle="width:80%;"> -->
	       <h3 class="text-info geohunt-font" ion-text color="primary-text"> {{ jeu.titre[translate.currentLang] | uppercase }}</h3>
	    <!-- </div> -->
	</div>

	<h3 class="titre" color="primary-text" ion-text text-center style="margin: 0;">
			{{ jeu.description[translate.currentLang]  }}
	</h3>

	<div class="container">
		<!-- <img src="../assets/imgs/quizz-img-1.png"  style="width:100%;" > -->
		 <!-- <div class="centered question" ion-text color="primary" style="width:80%;"> -->
			 <h2 style="margin-bottom: 30px" ion-text color="primary-text">{{ jeu.question[translate.currentLang] }}</h2>
		<!-- </div> -->
	</div>

	<div class="container" style="margin-top: -30px;width: 92%;left: 4%;">
		<img src="../assets/imgs/quizz-img-2.png"  style="width:100%;" >
		 <ion-input [(ngModel)]="reponse" class="centered" ion-text color="primary"  placeholder="{{ 'REPONSE' | translate}}"  ></ion-input>

	</div>

	<div class="container" (click)="validate()">
	    <img src="../assets/imgs/button-info.png"  style="width:50%;margin-bottom: 20px;" >
		<div class="centered" ion-textstyle="width:80%;">
	       <h2 class="text-info geohunt-font" ion-text color="primary-text"> {{ "Valider" | translate | uppercase }}</h2>
	    </div>
	</div>
<!-- 	<div class="container" style="margin-top: -30px;width: 92%;left: 4%;">
		<img src="../assets/imgs/quizz-img-2.png"  style="width:100%;" >
		<p ion-text text-center class="geohunt-font">
			{{ "Valider" | translate | uppercase }}
		</p>

	</div> -->
	
	
	<ion-grid ion-text color="secondary-text">
	  <ion-row>
	  
	    <ion-col ion-text text-left class="geohunt-fab" *ngIf="!jeu.requis">
	    	<button ion-fab color="primary" (click)="skipGame()" >
		    	<div class="center container" >
			    	<img src="../assets/imgs/reveal.png"  style="width:100%;" >	
		 			<div class="top question" ion-text color="primary" style="width:100%;">
					 	{{"PASSER" | translate }}
					</div>
			    </div>
		    </button>
		
	    </ion-col>
		    <ion-col ion-text text-right class="geohunt-fab">
		    		<button ion-fab color="primary" (click)="indiceJeu()">
			    	<div class="center container">
				    	<img src="../assets/imgs/hint.png"  style="width:100%;" >	
			 			<div class="top question" ion-text color="primary" style="width:100%;">

						{{jeu.indices.length}} {{"INDICE" | translate }}(S)

						</div>
				    </div>
		    </button>
	    </ion-col>
	   

	  </ion-row>


	</ion-grid>
	
	
</ion-content>


<!-- <ion-fab class="geohunt-fab" left bottom style="bottom: 70px;">
	    <button ion-fab color="primary" (click)="skipGame()" >
	    	<div class="center container" >
		    	<img src="../assets/imgs/reveal.png"  style="width:100%;" >	
	 			<div class="top question" ion-text color="primary" style="width:100%;">
				 	Reveal
				</div>
		    </div>
	    </button>
 </ion-fab>

<ion-fab class="geohunt-fab" right bottom style="bottom: 70px;">
	    <button ion-fab color="primary" (click)="indiceJeu()">
	    	<div class="center container" >
		    	<img src="../assets/imgs/hint.png"  style="width:100%;" >	
	 			<div class="top question" ion-text color="primary" style="width:100%;">
				{{listes_indices}} Hint
				</div>
		    </div>
	    </button>
 </ion-fab> -->

