page-quizz {
	
	.content-ios, .content-md  {

	    background-color: rgba(255,255,255,0) !important;
	    top: 70px !important;

		height: 90% !important;
	}

	.question{
		font-family: $geohunt-font !important;

	}

	.container {
	  position: relative;
	  text-align: center;
	  color: white;
	}

	/* Centered text */
	.centered {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  h2{
	  	top: -17px;
	  }
	}

	.top {
	  position: absolute;
	  top: 27%;
	  left: 50%;
	  transform: translate(-50%, -50%);

	}

	ion-input{
		width: 64% !important;
	}

	.center{
		text-align: center;
	}

	.text-input{
		text-align: center;
	}
	

	/* 	#inline{
		display: inline-block;
		float: left;
		width:66px;	
	}
	#inline2{
		display: inline-block;
		float: left;
		width:90px;
	} */

}
