<ion-header>

  <ion-navbar>
    <div id="line">
      <div id="left">
        <ion-title>GeoHunt</ion-title>
      </div>
      <div id="right">
        <ion-buttons end color="primary-text">
          <img src="assets/imgs/sablier.png" style="height: 13%; width: 13%;">
          {{display_time}}
        </ion-buttons>
      </div>
    </div>
  </ion-navbar>

</ion-header>

  <div class="myCard" text-center style="margin-top: 65px">

    <div class="container">
    <img src="../assets/imgs/button-info.png"  style="width:75%;" >
     <div class="centered" ion-textstyle="width:80%;">
       <h2 class="text-info"> <ion-icon name="checkmark-circle"></ion-icon> CORRECT !</h2>
    </div>
  </div>

  </div>

	<div text-center style="margin-top: 45px;margin-bottom: 0px;">
    <img src="assets/imgs/clef.png" style="width : 50%"  >
  </div>

  <p class="score" text-center>
    <span>+</span>100

  </p>

  <div text-center style="margin-top: 20px">
  	<div class="score2" ><h3>VERY GOOD THE QUESTION IS ANSWERED CORRECTLY</h3></div>
  </div>

  <ion-fab right bottom style="bottom: 70px;">
    <button ion-fab color="primary" (click)="nextPage()" ><ion-icon name="arrow-dropright"></ion-icon></button>

  </ion-fab>
  




