page-result {
    

    .icon-top {
       font-size: 30px;
    }

    .myCard{
      position:relative;

    }

    .text-info{
        // width: 100%;
        // height: 90px;
        // position: absolute;
        // z-index: 99;
        // bottom: 0px;
        color: #088A29;
        font-size: 19px;
        font-family:$geohunt-font ;

    }

    .score{

        span{
            font-size: 50px;
            color: #5c2600;
            font-family: 'Roboto';
        }
    	font-size: 5em;
    	color: #5c2600;
    	font-family: $geohunt-font ;
        margin: 0 !important;

    }

    .score2{
    	font-size: 20px;
    	color: #5c2600;
    	font-family: $geohunt-font ;
    }
    .container {
      position: relative;
      text-align: center;
      color: white;
    }

    /* Centered text */
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h2{
        margin-top: -11px !important;
    }
}
