<ion-header>
  <ion-navbar>
    <ion-title>
      GeoHunt
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p [innerHTML]="termes[translate.currentLang] "></p>

</ion-content>
