<ion-header>
  <ion-navbar>
    <ion-title class="title">GeoHunt</ion-title>
    
  </ion-navbar>

</ion-header>

<ion-content padding>
      <ion-card class='info-card'>
        <ion-card-content text-center >
         {{ "Veuillez sélectionner le parcours de votre choix" | translate }}
          

        </ion-card-content>
      </ion-card>
     

      <ion-list>
        <div *ngFor="let aventure of aventures">
          <ion-item *ngIf="!isHidden(aventure)" (click)="selectAdventure(aventure)" >
              <ion-thumbnail item-start>
                <img src="{{ aventure.avatar_url }}">
              </ion-thumbnail>
              <h2 style="overflow: hidden;">{{ aventure.titre[translate.currentLang] }}</h2>
              <p class="geo-detail">
                <ion-icon name="walk" *ngIf="aventure.transports.marche"></ion-icon>
                <ion-icon name="bicycle" *ngIf="aventure.transports.bicyclette"></ion-icon>
                <i class="fas fa-motorcycle" *ngIf="aventure.transports.moto"></i>
                <ion-icon name="md-car" *ngIf="aventure.transports.voiture"></ion-icon>
                <ion-icon name="bus" *ngIf="aventure.transports.bus"></ion-icon>
                <ion-icon name="md-subway" *ngIf="aventure.transports.metro"></ion-icon> {{ aventure.distance }} km
                  <span class="level">
                   <ion-icon name="square"></ion-icon>
                   <ion-icon name="square"></ion-icon>
                   <ion-icon name="square"></ion-icon>
                   <ion-icon name="square-outline"></ion-icon> 

                  </span>
                  <span class="level-label">{{ aventure.niveau | translate }}</span>
              </p>

              <div item-end class="item-end">
                
                <h5 ion-text class="local"><span class="left"><ion-icon name="pin"></ion-icon> {{ aventure.lieu }}</span></h5>

                <h5 ion-text class="geo-action" color="primary">{{ aventure.prix }}$ <ion-icon name="ios-arrow-forward"></ion-icon> </h5>
              </div>
            </ion-item>
        </div>
        
      </ion-list>
   
</ion-content>
