.app-root-md  {

	page-home ion-content{
		height: 90% !important;
	}
	

}



page-home {

	


	.card-ios, .card-md{
		background-color: #C5AF86;
		color: white;
	}

	.card-header-ios, .card-header-md{
		color: white !important;

	}

	.item-block{
		margin-bottom: 12px;
		border-radius: 5px;
		width: 100%;
		font-size: 1.4rem;
		background-color: #C5AF86;
		
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		color: white !important;

		height: 60px;

	}

	// .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {

		//     margin: 0 !important;

		// }

		.item-md ion-thumbnail, .item-ios ion-thumbnail {

			min-width: 50px;
			min-height: 50px;
			img {
				border-radius: 5px;

			}


		}




		.item-ios, .item-md{
			padding-left: 5px !important;

			h2{
				font-size: 1em;
			}

			.geo-detail{
				color: white;
				position: relative;
				top: 17px;
				font-size: 0.9em;
			}

			ion-label{
				height: 50px;
				padding-right: 5px;
			}

			p{
				color: white;
			}

			

			.left{
				float: right;
			}

			.geo-action{
				float: right;
				position: relative;
				top: 17px;

			}

			.item-end{
				position: relative;
				top: 3px;
			}


		}



		.item-ios [item-right], .item-ios [item-end], .item-md [item-right], .item-md [item-end]  {

			margin: 0;
			height: 50px;

		}

		.local{
			position: relative;

			top: -1px;
		}

		

		.level{
			font-size: 0.5em;

			margin-left: 20px;
			margin-right: 4px;
		}

		.level-label{
			font-size: 0.6em;
		}

		.label-ios, .label-md {

			margin: 0px;

		}

		.item-ios h5, .item-md h5 {
			margin: 0 0 3px;
			margin-top: 0px;
			font-size: 0.8em;
			font-weight: normal;
			line-height: normal;
		}




		.info-card{
			box-shadow: none !important;

			border-radius: 5px !important;

			margin-bottom: 25px !important;

			max-width: 77%;

			margin: auto auto 20px auto;

			.card-content-ios, .card-content-md {

				padding: 7px 10px 7px;
				font-size: 1.4rem;
				line-height: 1.4;
				font-size: 0.9em;
				font-weight: normal;
				font-family: "Roboto";

				font-weight: 50;

			}

		}
	}
