page-adventure-detail {

	h2{
		color: primary;
		position: relative;

		top: 38px;

		margin-left: 9px;
	}

	ion-content {


	    top: 80px !important;

	}

	ion-thumbnail{
		border: 3px solid white;
	}

	ion-input{
		display: inline-block !important;
		width: 66% !important;
		top: 3px;
	}

	input{
		margin : 0px !important;
		background: white !important;

		border-radius: 5px !important;

		height: 28px !important;

		width: 110% !important;

		// display: block !important;

		// margin: 3px auto !important;
	}

	.level{
		font-size: 0.5em;
		position: relative;

		top: -5px;
	}

	.level-label{
		font-size: 0.6em;
	}
	.level-info{
		position: relative;

		top: -10px;
	}

	.adventure-content{
		height: 68% !important;
	}

	.underline{
		text-decoration: underline;
	}

}	

.app-root-md{
	page-adventure-detail{
		h2 {

		    color: primary;
		    position: relative;
		    top: 79px;
		    margin-left: 12px;

		}
	}

	
.alert-md .alert-message, .alert-md .alert-input-group {
    color: #0e0e0e;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
}

	

} 

