<!--
  Generated template for the AdventureDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GeoHunt</ion-title>
  </ion-navbar>

</ion-header>



<h2 ion-text color="primary-text">{{ aventure.titre[translate.currentLang] }}</h2>
<ion-content class="adventure-content" padding >
	<ion-grid ion-text color="secondary-text">
	  <ion-row>
	    <ion-col>
	    	<ion-thumbnail>
	    		<img  src="{{ aventure.avatar_url }}" />
	     	</ion-thumbnail>

	
			  <ion-row>
			    <ion-col class="level-info">
			    	<p class="level-label">{{aventure.niveau | translate }}</p>
			    	<p class="level">
			    		<span>
			               <ion-icon name="square"></ion-icon>
			               <ion-icon name="square"></ion-icon>
			               <ion-icon name="square"></ion-icon>
			               <ion-icon name="square-outline"></ion-icon> 

			            </span>
			    	</p>
			    </ion-col>
			    <ion-col style="text-align: right;">
			    	<ion-icon name="walk" *ngIf="aventure.transports.marche"></ion-icon>
		            <ion-icon name="bicycle" *ngIf="aventure.transports.bicyclette"></ion-icon>
		          
		            <i class="fas fa-motorcycle" *ngIf="aventure.transports.moto"></i>
		            <ion-icon name="md-car" *ngIf="aventure.transports.voiture"></ion-icon>
		            <ion-icon name="bus" *ngIf="aventure.transports.bus"></ion-icon>
		            <ion-icon name="md-subway" *ngIf="aventure.transports.metro"></ion-icon>
			      
			    </ion-col>

			    
			  </ion-row>
			 

			    	<button ion-button button-block small (click)="leaderboard()" *ngIf="afficherEmailForm"><ion-icon name="ribbon"></ion-icon> {{"Classement" | translate}}</button>
			      
			
	
	    </ion-col>
	    <ion-col >
	    	<p>
	    		<ion-icon name="stopwatch"></ion-icon> {{ "Temps" | translate }} : {{ aventure.temps_min }} - {{ aventure.temps_max }} min
	    	</p>

	    	<p>
	    		 <ion-icon name="pin"></ion-icon> {{ "Distance" | translate }} : {{ aventure.distance }} km
	    	</p>

	    	<p>
	    		<a class="underline" (click)="leaderboard()"></a><ion-icon name="ribbon"></ion-icon> {{ "Classement" | translate }} 
	    	</p>

	    	<div style="text-align: center;">
	    		<button ion-button button-block small (click)="termesConfirm(aventure.prix)" *ngIf="!afficherEmailForm" >{{ "Acheter" | translate }} {{ aventure.prix }}$</button>
	    		<button ion-button button-block small (click)="enregistrerMail()" *ngIf="afficherEmailForm" >{{ 'Obtenir Code' | translate }}</button>

	    	<!-- 	<button ion-button button-block small (click)="offline()" >Offline</button>
	    		<button ion-button button-block small (click)="start()" >Start</button> -->
	    		<!-- *ngIf="afficherEmailForm" -->
	    		
	    		<!-- <ion-input placeholder="Password" (keydown)="onKeydown($event)" ></ion-input> -->

	    		<!-- <button ion-button button-block small (click)="nextPage()">Geoloc</button> -->

	    		<!-- <button ion-button button-block small  (click)="nextPageTest()">Test</button> -->
	    		<!-- <a href="geo:38.897096,-77.036545">open map</a> -->
	    		<!-- <button ion-button button-block small (click)="verificationCode()" *ngIf="afficherEmailForm" >Verification Code</button> -->

	    		<!-- <button ion-button button-block small  (click)="testJeux()">Test</button> -->
	    		<button ion-button button-block small (click)="verificationCode()" *ngIf="afficherEmailForm" >{{"Jouer" | translate}}</button>
	    		
	    		<br>

	    		<button ion-button button-block small  *ngIf="web" (click)="start()" >{{"Jouer demos" | translate}}</button>
	    		
	    		

	    	</div>
	    		


	    </ion-col>

	  </ion-row>


	</ion-grid>

	<p ion-text color="secondary-text" [innerHTML]="aventure.description[translate.currentLang]">
		
	</p>
	<ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
             [showSpinner]="false" [direction]="'rightToLeftIncreased'"
             [color]="'green'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"
></ng-progress>


</ion-content>
