<!--
  Generated template for the PhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
  	<div id="line">
  		<ion-title>GeoHunt</ion-title>
  	</div>
  	<div id="line2">
  		<ion-buttons end color="primary-text">
	      	<div id="left"><img src="assets/imgs/sablier.png" style="height: 100%; width: 100%;"></div>
	      	<div id="right">{{cpt.display_time}}</div>
	    </ion-buttons>
  	</div>  
  </ion-navbar>

</ion-header>


<ion-content>
	<div class="container">
	   
	
	       <h2 class="text-info geohunt-font" ion-text color="primary-text"> {{ jeu.titre[translate.currentLang] | uppercase }}</h2>
	       <hr>


	</div>

	<h3 class="titre" color="primary-text" ion-text text-center style="margin: 0; font-size: 1.8em" [innerHTML]="jeu.description[translate.currentLang]">
	</h3>

	<ion-thumbnail >
          	<img *ngIf="jeu.image_url" src="{{ jeu.image_url }}" style="max-height:200px; margin: auto;" />
    
    </ion-thumbnail>

   <ion-grid ion-text color="secondary-text">
	  <ion-row>
	  
	    <ion-col ion-text text-left class="geohunt-fab">
	 
		</ion-col>
		<ion-col ion-text text-right class="geohunt-fab">
		    		<button ion-fab color="primary" (click)="nextGame()">
			    	<div class="center container">
				    	<img src="../assets/imgs/hint.png"  style="width:100%;" >	
			 			<div class="top question geohunt-font" ion-text color="primary" style="width:100%;    font-size: 10px;">
						{{ "SUIVANT" | translate }} 
						</div>
				    </div>
		    </button>
	    </ion-col>
		    
	   

	  </ion-row>


	</ion-grid>




</ion-content>
