// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/scss/fontawesome.scss";
@import "../assets/scss/solid.scss";
@import "../assets/scss/brands.scss";
// @import "~mapbox-gl/dist/mapbox-gl.css";
// @import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

.user {
	@extend %fa-icon;
	@extend .fas;

	&:before {
		content: fa-content($fa-var-motorcycle);
	}
}
page-adventure-detail.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-contact.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-faq.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-geolocalisation.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-home.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-info.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-leaderboard.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-paiement.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-photo.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-puzzles.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-qrcode.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}

page-quizz.ion-page{
		background-image: url("../assets/imgs/fond.png");
		background-size: cover;
		background-position: center;
		margin: auto;
}




.fab .top{
	font-size: 0.6em !important;
	// padding: 5px;
	// font-weight: bold !important;
	text-transform: uppercase !important;
}

h3.titre{
	display: block !important;
	width: 80%;
	margin: auto !important;

}

ion-title{
	font-family: $geohunt-font !important;
}

ion-content{
	width: 95%;
	margin: auto;
	border-radius: 5px;
	top: 52px;
}

.content-md {
	position: relative !important;
	top: 63px;
}

.toolbar-title-md, .toolbar-title-ios{
	color: white;

	background: url("../assets/imgs/647909_gallery.jpg") no-repeat;

	background-clip: border-box;

	-webkit-background-clip: text;

	-webkit-text-fill-color: transparent;
	font-size: 3.9rem !important;
	text-shadow: 2px 3px rgba(0,0,0,0.2) !important;
}

.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img, .item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img  {

	width: 50px;
	height: 50px;

}

.scroll-content{
	margin-top: 0px !important;
}

.centered {
	width: 60%;
	h3{
		font-size: 18px;
		margin: 0;
		position: relative;
		top: -5px;	
	}
	h2{
		position: relative;
		top: -5px;
		font-size: 20px;
	}
	
}



// .ios .ion-page.show-page ~ .nav-decor{
// 	background: none transparent !important;
// }

// ion-app.md{
// 	background: none transparent !important;
// }


.toolbar-background-md, .toolbar-background-ios{
	background-color: rgba(255,255,255,0.5) !important;
	border: none;
}

.content-ios, .content-md  {

	background-color: rgba(255,255,255,0.8) !important;
}

.toolbar-title-md	 {
	text-align: center;
	font-size: 1.7rem;
	font-weight: 600;
	color: #000;
	pointer-events: auto;
}

.tabs-ios .tabbar, .tabs-md .tabbar {
	background-color: rgba(255,255,255,0.8) !important;
}

.geohunt-font{
	font-family: $geohunt-font;
}

.no-margin{
	margin: 0 !important;
}

ion-buttons{
	font-size: 1.5em;
	font-family: $geohunt-font;
	color: #643005;
	img{
		width: 18%;
	}
}

#line {
	width: 63%;
	float: left;
}

#line2{
	margin-top: 10px;
	width: 37%;
	float: right;
}

#left {
	float: left;
	width: 13%;
}

#right {
	width: 87%;
	font-size: 90%;
}

.alert-ios.alert-geohunt .alert-wrapper{
	opacity: 1 ;

	transform: scale(1) ;

	background-image: url("../assets/imgs/fond.png") ;

	background-size: cover ;

	background-position: center ;

	margin: auto ;

	// background-color: transparent !important;

	// padding: 30px ;

	color: #643005 ;
}

.alert-md.alert-geohunt .alert-wrapper{
	opacity: 1 ;

	transform: scale(1) ;

	background-image: url("../assets/imgs/fond.png") ;

	background-size: cover ;

	background-position: center ;

	/*margin: auto ;*/

	// background-color: transparent !important;
	// padding-bottom: 0%;

	color: #643005 ;
}

.alert-md .alert-head {
    text-align: left;
    text-align: start;
    // padding: 40px 24px 0px;
}

.alert-geohunt .alert-md .alert-wrapper{
	max-width: 100%;
}

.alert-geohunt .alert-ios .alert-wrapper{
	max-width: 100%;
}
.alert-geohunt .alert-md .alert-button-group{
	// position: relative !important;

	// top: -25px !important;

	// left: -20px !important;
	font-family: $geohunt-font !important;
}

 .alert-md .alert-button-group{
 	font-family: $geohunt-font !important;
 	text-transform: uppercase;
 }


.alert-geohunt .alert-title{
	text-align: center;
	font-family: $geohunt-font;
}

.alert-geohunt .alert-message{
	text-align: center;
	font-family: $geohunt-font !important;
	color: #643005 !important;
	font-size: 1.2em !important;
	text-transform: uppercase !important; 
}

.geohunt-fab .fab{
	width: 90px !important;
	height: 90px !important;
	background: none transparent !important;
}

.container {
	  position: relative;
	  text-align: center;
	  color: white;
	}

	/* Centered text */
	.centered {
	  position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

	.top {
	  position: absolute;
	  top: 27%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}

ion-content {
    height: 90% !important;
}

::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 7px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px !important;
  background-color: rgba(0, 0, 0, .5) !important;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5) !important;
}
/* #left {
	
	width: 67%;
	float: left;
	font-size: 10px;
}


#right {

	margin-top: auto;
	float: left;
	width: 96%;
	font-size: 12px;
}

.primary-text{
	margin-top: 10px;
} */



