<ion-header>
  <ion-navbar hideBackButton>
    <div id="line">
      <ion-title>GeoHunt</ion-title>
    </div>
    <div id="line2">
      <ion-buttons end color="primary-text">
          <div id="left"><img src="assets/imgs/sablier.png" style="height: 100%; width: 100%;"></div>
          <div id="right">{{cpt.display_time}}</div>
      </ion-buttons>
    </div>  
  </ion-navbar>

</ion-header>
<ion-content>
  <!-- <button (click)="locateMeNow()">{{geolatitude}}</button> -->
  <!-- <button (click)="showBGgeoloc()">Show Bg Geoloc</button> -->
  <!-- <div>{{jeu.longitude}},{{now}}</div> -->
  <div class="container" *ngIf="jeu.titre[translate.currentLang]">
      <!-- <img src="../assets/imgs/button-info.png"  style="width:75%;" > -->
    <!-- <div class="centered" ion-textstyle="width:80%;"> -->
         <h3 class="text-info geohunt-font" ion-text color="primary-text"> {{ jeu.titre[translate.currentLang] | uppercase }}</h3>
      <!-- </div> -->
  </div>

  <h3 class="titre" color="primary-text" ion-text text-center style="margin: 0;">
      {{ jeu.description[translate.currentLang]  }}
  </h3>

  <!-- <div #map id="map" style="width:94%; height:50%;margin-left:10px; "></div> -->
   <mgl-map *ngIf="coord"

        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[12]"
        [center]="coord"
      >
      <mgl-marker style *ngIf="jeu.longitude"
       [lngLat]="[jeu.longitude, jeu.latitude]"
     
   >

          <ion-icon 
          style="font-size: 3.2em;position: relative;left: 47%;bottom:22px" 
          ion-text  color="primary-text" name="pin"></ion-icon>



     </mgl-marker>

     <mgl-marker *ngIf="geolongitude"
       [lngLat]="[geolongitude, geolatitude]"
     
   >

          <ion-icon 
          style="color: red;position: relative;left: 50%;bottom:50px" 
          ion-text  name="walk"></ion-icon>



     </mgl-marker>

  </mgl-map>
  <div style="text-align: center;">
        <a [href]="googleMap"> <button class="geohunt-font" ion-button button-block small style="margin-left: 6px;">{{'Open in Google Map'| translate}}</button></a>


       
  </div>
  <div style="text-align: center; margin-bottom: 10px">
       <button ion-button button-block small class="geohunt-font" (click)="isArrived()">{{ 'JE SUIS ARRIVÉ' | translate}}</button>
  </div>
   <div text-center>  
        <ion-thumbnail *ngIf="jeu.image_url" style="height: 60px;">
          <img  [src]="jeu.image_url" />
        </ion-thumbnail>
    </div>

    <ion-grid ion-text color="secondary-text">
    <ion-row>
    
      <ion-col ion-text text-left class="geohunt-fab" *ngIf="!jeu.requis">
      <!-- <button ion-fab color="primary" (click)="nextGame()" ><ion-icon name="arrow-dropright"></ion-icon></button> -->
      <button ion-fab color="primary" (click)="skipGame()" >
        <div class="center container" >
          <img src="../assets/imgs/reveal.png"  style="width:100%;" > 
        <div class="top geohunt-font" ion-text color="primary" style="width:100%;">
          {{"PASSER" | translate }}
        </div>
        </div>
      </button>
 </ion-col>
 <ion-col ion-text text-right class="geohunt-fab">
            <button ion-fab color="primary" (click)="indiceJeu()">
            <div class="center container">
              <img src="../assets/imgs/hint.png"  style="width:100%;" > 
            <div class="top geohunt-font" ion-text color="primary" style="width:100%;">
            {{jeu.indices.length}} {{"INDICE" | translate }}(S)
            </div>
            </div>
        </button>
      </ion-col>
        
     

    </ion-row>


  </ion-grid>

</ion-content>

  
<!--  -->

<!-- ion-content padding>
</ion-content>
 -->
