page-geolocalisation {
	
.icon-top{
	font-size: 30px;
}

mgl-map{
  height: 60%;
}
mgl-marker{
  height: 50px;
  width: 50px;
}
.myCard{
	position:relative;
}

	.container {
      position: relative;
      text-align: center;
      color: white;
    }

    /* Centered text */
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h2{
        margin-top: -11px !important;
    }

    .content-ios, .content-md  {

	    background-color: rgba(255,255,255,0) !important;
	    max-height: 120% !important;
	}

	ion-thumbnail{
		width: 45%;
    margin: auto;
    border: 3px solid white;
	}  
}
