<ion-header>

  <!--ion-navbar>
    <div id="line">
      <ion-title>GeoHunt</ion-title>
    </div>
    <div id="line2">
      <ion-buttons end color="primary-text">
          <img src="assets/imgs/sablier.png" style="height: 11%; width: 11%;">{{cpt.pause}}
      </ion-buttons>
    </div>  
  </ion-navbar-->
  <ion-navbar hideBackButton>
    <div id="line">
      <ion-title>GeoHunt</ion-title>
    </div>
    <div id="line2">
      <ion-buttons end color="primary-text">
          <div id="left" *ngIf="cpt.pause && cpt.pause != ''"><img src="assets/imgs/sablier.png" style="height: 100%; width: 100%;"></div>
          <div id="right">{{cpt.pause}}</div>
      </ion-buttons>
    </div>  
  </ion-navbar>

 

</ion-header>
<ion-content *ngIf="!view">
    <div class="container">
    <img src="assets/imgs/leader.png"  style="width:40%;" >
     <div class="centered" ion-text color="primary" style="width:80%;">
       <h2 class="geohunt-font" style="font-size: 5.5em;">1</h2>
    </div>
  </div>

  <div text-center style="margin-top: 20px">
    <div class="score2" ><h3>{{"FÉLICITATIONS. VOUS L'AVIEZ!" | translate }}</h3></div>
  </div>


<ion-list>
  <ion-item>
    <ion-label color="primary" class="geohunt-font">{{ "Nom" | translate}}</ion-label>
    <ion-input placeholder='{{"Nom" | translate}}' [(ngModel)]="joueur.lastname" class="geohunt-font" color="primary" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" class="geohunt-font">{{ "Prénom" | translate}}</ion-label>
    <ion-input placeholder='{{"Prénom" | translate}}' [(ngModel)]="joueur.firstname" class="geohunt-font" color="primary" ></ion-input>
  </ion-item>
</ion-list>

  
  <div text-center>

    
     <button ion-button class="bouton" (click)="send()" >{{ "Envoyer" | translate }}</button>

  </div>

</ion-content>

<ion-content *ngIf="view">
    <div class="container">
    <img src="assets/imgs/leader.png"  style="width:40%;" >
     <div class="centered" ion-text color="primary" style="width:80%;">
       <h2 *ngFor="let joueurJeu of joueurJeux;index as i " class="geohunt-font" style="font-size: 5.5em;">
         <span *ngIf="joueurJeu.key == joueur_id">{{i+1}}</span>
       </h2>
    </div>
  </div>

  <div text-center style="margin-top: 20px">
    <div class="score2" ><h3>{{"Classement" | translate}}</h3></div>
  </div>


  <ion-list ion-text color="primary">
    <ion-item *ngFor="let joueurJeu of joueurJeux;index as i"  [ngClass]="{'meClass':joueurJeu.key == joueur_id}">


      <ion-icon name="trophy" *ngIf="i==0" item-start></ion-icon> <span *ngIf="!(i==0)" class="geohunt-font">#{{i+1}}</span><span *ngIf="(i==0)" class="geohunt-font">{{i+1}}</span>

        <span class="{{ joueurJeu.key == joueur_id ? 'bold' : '' }}" >{{ joueurs[joueurJeu.key].firstname}} {{joueurs[joueurJeu.key].lastname}}</span>  <span class="time">{{ (((( (+joueurJeu.temps_total_aventure.split(':')[0]) *60 *60) + ((+joueurJeu.temps_total_aventure.split(':')[1]) * 60) + (+joueurJeu.temps_total_aventure.split(':')[2])) <= (temps_avMax*60)) ? joueurJeu.temps_total_aventure : "Hors délai" | translate) }}</span>

    </ion-item>
   <!--  <ion-item>
      <span class="geohunt-font">#2</span>
        
      
    </ion-item>

    <ion-item>
      <span class="geohunt-font">#3</span>
        
      
    </ion-item> -->
  </ion-list>

  
 
</ion-content>
