page-leaderboard {

 .content-ios, .content-md  {


        background-color: rgba(255,255,255,0) !important;
        /* height: 100% !important; */
        margin-top: 13%;
}

.bold{
  font-weight: bold !important; 
}


.scroll-content{
    text-align: center !important;
}
.meClass{
  background-color: #64300580;
}
.time{
  position: absolute;
  right: 11px;
}
.container {
      position: relative;
      text-align: center;
      color: white;
    }

    /* Centered text */
    .centered {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

ion-item{
    border-radius: 5px !important;
    margin-bottom: 10px !important;
}



.myCard{
  position:relative;

}

.myOverlay{
    width: 100%;
    height: 300px;
    position: absolute;
    z-index: 99;
    bottom: 0px;
    color: #5c2600;
    font-size: 100px;
    font-family:$geohunt-font ;

}

.score2{
	font-size: 20px;
	color: #5c2600;
	font-family: $geohunt-font ;
}

.bouton{
	background-color: #5c2600;
	font-family:$geohunt-font ;
	width:30%;
	margin-top: 25px;
}

 .content-ios, .content-md  {

      background-color: rgba(255,255,255,0) !important;
      max-height: 120% !important;
  }

}
