page-qrcode {	
	.content-ios, .content-md  {
		background-color: rgba(255,255,255,0) !important;
		/* height: 100% !important; */

	}
	.mytext-info-1{
		line-height: 14px;
		font-size: 14px;
		position: relative;
		top: 4px;
	}
	.mytext-info-2{
		line-height: 10px;
		font-size: 11px;
		position: relative;
		top: 4px;
	}

	.scroll-content{
	    overflow-y: auto !important;
	}
}	
