<!--
  Generated template for the CardInfoStripePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	

	<div class="stripe">
		<img class="imageAnimation" src="assets/imgs/pngStripe.png" class="imageStripe">
		<button class="close" ion-button left small col text-center (click)="quitStripe()"><ion-icon ios="ios-close" md="md-close"></ion-icon></button>
	</div>
	<ion-list>
	  
	  <ion-item>
	    <ion-label stacked><ion-icon ios="ios-card" md="md-card" class="icons"></ion-icon>{{"Card Number" | translate}}
	    </ion-label>
	    <ion-input type="text" [(ngModel)]="card.number" (ionChange)="cardification($ev)" maxlength="19" placeholder="1111 1111 1111 1111"></ion-input>
	    
	  </ion-item>
	  <ion-item>
	    <ion-label stacked><ion-icon ios="ios-calendar" md="md-calendar"  class="icons"></ion-icon>{{"Expiry Date"|translate}}</ion-label>
	    <ion-input type="text" [(ngModel)]="date" placeholder="mm/yy" maxlength="5" (ionChange)="datification($ev)"></ion-input>
	  </ion-item>
	  <!-- {{today.getMonth()+1}}/{{(today.getFullYear()+1).toString()}} -->
	  <ion-item >
	    <ion-label stacked><ion-icon ios="ios-lock" md="md-lock" class="icons"></ion-icon>CVC</ion-label>
	    <ion-input type="text"[(ngModel)]="card.cvc" maxlength="3" placeholder="123"></ion-input>
	  </ion-item>

	  <div style="text-align: right;position: relative;top: 14px;">

	  	<button ion-button right small col-6 text-center [disabled]="!card.number || !date || !card.cvc"(click)="pay()">{{"Pay"| translate}} {{prix_aventure}}$</button>
	  </div>
	  <!-- Bubbles -->
	  <ion-spinner name="bubbles" *ngIf="transaction==true && !showError"></ion-spinner>
	  <div class="errorCard" *ngIf="showError">
	  	<label class="positionning">
	  		{{"Une ou des informations semblent invalides"|translate}}
	  		<ion-icon name="alert" style="font-size: 15px;"></ion-icon>
	  	</label>
	  </div>
	  
	</ion-list>
</ion-content>
