page-card-info-stripe {
	.close{
		position: absolute;
		top: 18px;
		right: 24px;
	}
	.errorCard{
		background-color: none;
		color: red;
		height: 30px;
		width: auto;
		font-size: 10px;
		text-align: center;
		vertical-align: center;
		border: solid red 1px;
		border-radius: 3px;
		position: relative;
		top: 35px;
	}
	.positionning{
		position: relative;
		top: 8px;
	}
	.imageStripe{
		width: auto;
		height: 40px;
	}
	.stripe{
		background: black;
		//border-radius: 1em;
		text-align: center;
	}
	button{
		background: black !important;
	}
	.icons{
		margin-right: 5px;
	}
	.imageAnimation{
		animation: ease-in;
		animation-duration: 3s;
  		animation-name: rotateImage;
  		animation-iteration-count:infinite;
	}	
}
