<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GeoHunt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<p [innerHTML]="termes[translate.currentLang]"></p>
</ion-content>
