<!--
  Generated template for the PaiementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>GeoHunt</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	

	<ion-list>

    		<ion-list-header>
    	    	{{ "Méthodes de paiement" | translate }}
    	  </ion-list-header>


        <ion-item (click)="payerWithPaypal()" >
          <ion-thumbnail item-start>
            <img src="assets/imgs/paypal.png">
          </ion-thumbnail>
  
          <h2>PAYPAL </h2>
          
                   
        </ion-item>

        <ion-item (click)="payerWithStripe()">
          <ion-thumbnail item-start>
            <img src="assets/imgs/stripe.jpg">
          </ion-thumbnail>
  
          <h2>STRIPE </h2>    
        </ion-item>
        <!-- <button color="primary" (click)="payer()">Payer</button> -->
      </ion-list>
</ion-content>

