page-paiement {

	.item-block{
		margin-bottom: 12px;
		border-radius: 5px;
		width: 100%;
		font-size: 1.4rem;
		background-color: #fff;
	
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		
		height: 60px;

	}


	.item-md ion-thumbnail{
	  min-height: 0px !important;
	}
	/* .container-loader{
		position: relative;
		top: 0px;
		width: 100%;
		height: 100%;
	} */
}
